<div class="jumbotron-about">
  <h1>Blocmarks</h1>
    <div class="row">
      <div class="col-md-2">
        <p> Blocmarks is an social bookmarking application that allows users to create and edit public bookmarks, search other user's bookmarks, and manage their own bookmarks from a personalized home page. I made this as a part of my training at <a href="https://www.bloc.io">Bloc</a>. The code is available on <a href="https://github.com/cheneyshreve/blocmarks">Github</a>.
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p> Additional features: Using Mailgun's API, users registered with Blocmarks can send an email to a specific address to have data be automatically populated and categorized in Blocmarks. <a href="mailto:shedevsnow@gmail.com">Contact me</a> for details if you wish to access this added functionality.</p>
      </div>
     </div>
</div>
