<div class="jumbotron-index">
  <h1>Blocmarks | A Social Bookmarking App</h1>
  <div class="row">
    <div class="col-lg-2">
      <h3>Key features:</h3>
      <div class="row">
        <div class="col-lg-2">
          <ul>
           <li>Create a free account</li>
           <li>Add and edit bookmarks</li>
           <li>Search other user's bookmarks</li>
           <li>Manage your own bookmarks, no more ugly folders!</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
