/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.well {
  width: 250px;
  height: 240px;
  display: inline-block;
  background-color: black;
  opacity:0.95;
  color: white;
  font-style: bold;
  margin: 5px 5px;
}

.btn {
  margin: 5px 5px;
}

.jumbotron-about {
  background-image: url(/assets/antonio-dicaterina.jpg);
  background-size: cover;
  background-color: rgba(238, 238, 238, 0.75);
  border-radius: 6px 6px;
  background-position: center;
  padding: 10px;
  z-index: 1;
  opacity: 0.95;
}

.jumbotron-index {
  background-image: url(/assets/collin-armstrong.jpg);
  background-size: cover;
  background-color: rgba(238, 238, 238, 0.75);
  background-position: center;
  border-radius: 6px 6px;
  padding: 10px;
  z-index: 1;
  opacity: 0.85;
}

.jumbotron-index h1,  h1 .jumbotron-index {
  color: white;
  font-weight: bold;
  text-shadow: 1px 2px black;
}
.jumbotron-index h3,  h3 .jumbotron-index {
  color: white;
  font-weight: bold;
  text-shadow: 1px 2px black;
}

.jumbotron-index li {
  color: white;
  font-weight: bold;
  size: 1.5rem;
}

.jumbotron-about h1, h1 .jumbotron-about {
  color: white;
  font-weight: bold;
  text-shadow: 1px 2px black;
}

.jumbotron-about p {
  color: white;
  font-weight: bold;
  text-shadow: 1px 2px black;
  font-size: 1.5rem;
}

.jumbotron-about a {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 1px 2px black;

}
